<div class="jumbotron">
<h1>Welcome to laurala</h1>
</div>
<%= link_to 'About Us', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
<p>content comming soon!</p>
